@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
@import './variables';

@mixin shadow {
  box-shadow: 0px 0px 15px rgba($black, .5);
}
@mixin transition-reg{
  transition: 100ms ease-out;
}
html, body{
    min-height: 100% !important;
    height: 100%;
}
* {
  padding: 0; 
  margin: 0; 
  font-family: 'Ubuntu', sans-serif;
  border-spacing: 0;
  border-collapse: collapse;
  color:$black;
  @include transition-reg();
}
.flex{
  display: flex;
  &__center{
    justify-content: center;
    align-items: center;
  }
  &__row{
    flex-direction: row;
  }
  &__column{
    flex-direction: column
  }
  &__space-around{
    justify-content: space-around;
  }
  &__space-between{
    justify-content: space-between;
  }
}
.no-margin{
  margin: 0 !important;
}
.no-padding{
  padding: 0 !important;
}
p{
  color: $black
}
.sidebar{
  width: 400px;
  background-color: $gray-bg;
  height: 100vh;
  &__header{
    height: 87px;
    @extend .flex;
    @extend .flex__center;
    @extend .flex__space-between;
    padding: 0 15px;
    background-image: linear-gradient(to bottom right, $blue, $cyan);
    i, p{
      @extend .no-margin;
      font-size: 20;
      font-weight: bold;
      color: white;
    }
  }
}